
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
}
body{
    background-color: rgb(224, 220, 214);
}
label{
    display: block;
    margin: 6px;
}

fieldset{
    background-color: rgb(188, 202, 197);
}
table{
    background-color: ghostwhite;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    padding: 5px 10px;
}

nav > ul {
    display: flex;
    padding: 0;
}

nav li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    position: relative;
}
nav ul.dropDown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    list-style: none;
    min-width: 150px; /* Adjust size */
}

nav ul.dropDown li {
    margin: 0;
    padding: 5px 10px;
}

/* Show dropdown on hover */
nav li:hover > ul.dropDown {
    display: block;
}

/* Styling the hover effect */
nav li:hover {
    background-color: rgb(152, 152, 169);
}
